<div id="dlgAddEmployeeContent">  
  <h1 class="text-2xl font-bold mb-4">Edit Existing Employee</h1>
  <form id="frmAddEmployee" class="flex flex-col space-y-4" method="dialog">
    
    <!-- Username -->
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-700">Username:</label>
      <label class="font-medium text-gray-800">{{employee.username}}</label>
    </div>

    <!-- Full Name -->
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-700">Full Name:</label>
      <label class="font-medium text-gray-800">{{employee.name}}</label>
    </div>
       <!-- Employee Title -->
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-700">Title:{{employee.current_title}}</label>
      <select id="ddlEmployeeTitle" name="ddlEmployeeTitle" class="border border-gray-300 rounded-md p-2" required>        
        {{#each employeeTitles}}
          <option value="{{this.title}}" 
          {{#if (eq this.title ../employee.current_title)}}selected{{/if}} >{{this.title}}</option>
        {{/each}}
        <!-- Dynamically load options here -->
      </select>
    </div>

    <!-- Practice Name -->
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-700">Practice Name:</label>
      <select id="ddlPracticeName" name="ddlPracticeName" class="border border-gray-300 rounded-md p-2" required>
        <option value="">Select Practice</option>
        {{#each practices}}
          <option value="{{this.id}}"
          {{#if (eq this.id ../employee.practice_id)}} selected{{/if}} >{{this.name}}</option>
        {{/each}}
        <!-- Dynamically load options here -->
      </select>
    </div>

    <!-- Supervisor's Username and Name -->
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-700">Supervisor's Username:</label>
      <input type="text" id="txtSupervisorUsername" name="txtSupervisorUsername"
            value="{{employee.supervisor_username}}"
            hx-target="#lblSupervisorName" hx-trigger="change blur" hx-get="/roster-manager/name-from-username"
            hx-include="[name='txtSupervisorUsername']" hx-swap="innerHTML" class="border border-gray-300 rounded-md p-2" required />
      <p class="text-sm text-gray-500 mt-2" id="lblSupervisorName">Supervisor: </p>
    </div>

    <!-- Director's Pool ID (Dynamically Loaded Dropdown) -->
    <div class="flex flex-col">
      <label class="text-sm font-medium text-gray-700">Director's Pool ID:</label>
      <select id="ddlDirectorsPool" name="ddlDirectorsPool" class="border border-gray-300 rounded-md p-2" required>
        <option value="">Select Director</option>
        {{#each directorsPools}}
          <option value="{{this.id}}"
          {{#if (eq this.id ../employee.pool_id)}}selected{{/if}}>{{this.id}}</option>
        {{/each}}
      </select>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-end space-x-4 mt-4">
      <button id="btnCancelAddEmployee" type="reset" class="bg-gray-300 font-bold py-2 px-4 rounded-md"
        hx-on:click="document.getElementById('dlgAddEmployee').close()">Cancel</button>
      <button id="btnAddEmployee" type="submit" class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md"
        hx-post="/roster-manager/create-employee" hx-target="#roster-list" hx-swap="outerHTML" 
        hx-on:click="document.getElementById('dlgAddEmployee').close()">Save</button>
    </div>

  </form>
</div>