<div id="roster-list" class="flex flex-col overflow-y-auto" style="height: calc(100vh - 280px);">
  {{#each roster}}
  <div id="{{this.id}}" class="bg-white shadow-md rounded-lg p-4 m-4 flex flex-row">
    <!-- Practice Name -->
    <!-- recordset:  {
  id: 7,
  name: 'Crystian Carranco',
  current_title: 'CS - Practice Manager',
  username: 'ccarranco',
  company_start_date: null,
  company_end_date: null,
  location: 'GDL',
  address: null,
  supervisor_id: 2,
  tags: null,
  project_start_date: null,
  project_end_date: null,
  practice_id: 3,
  pool_id: 'MDC - Alejandro Gomez',
  ps_name: 'Carranco,Crystian',
  ps_id: null,
  resume_url: null
}-->
    <div class="text-grey1 text-xs text-wrap  font-bold  rounded-full">
      {{this.practice_name}}
    </div>

    <!-- Employee Name and Title -->
    <div class="m-4 flex flex-col justify-between">
      <h2 class="text-xl font-semibold text-grey1">{{this.name}}</h2>
      <p class="text-sm">{{this.current_title}}</p>
    </div>

    <!-- Username -->
    <div class="m-4 flex flex-col justify-between">
      <p class="text-sm text-gray-700"><span class="font-semibold text-grey1">Username:</span> {{this.username}}</p>
      <p class="text-sm text-gray-700"><span class="font-semibold text-grey1">Reports to:</span> {{this.supervisor_name}}</p>
    </div>

    <div class="m-4 flex flex-col justify-between">
      <!-- TODO make the button call the modal and fill it in with the employee data 
        hx-on:click="document.getElementById('dlgAddEmployee').showModal()"        
      -->
      <button id="btnEmployee{{this.id}}"
        hx-get="/roster-manager/edit-employee?id={{this.id}}"
        hx-target="#dlgAddEmployeeContent"
        hx-swap="outerHTML"
        hx-on:htmx:afterSwap="document.getElementById('dlgAddEmployee').showModal()"
        class="bg-logoGrey text-white font-bold py-2 px-4 rounded-md self-end hover:bg-gray-700 transition">
  Edit
</button>
    </div>
  </div>
  {{else}}
  <h3 class="text-center text-gray-500 mt-6">Query did not return any results</h3>
  {{/each}}
</div>